.landing-video {
  /* display: none; */
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: -1;
  opacity: 0.5;
}

.map-image {
  /* display: none; */
  position: absolute;
  opacity: 0.8;
  clip: rect(10vh,100vw,37vh,0vw)
}