.iframe-video {
    /* font-family: Gaegu; */
    position: fixed;
    width: 87vw;
    height: 78vh;
    /* width: 2000px;
    height: 913px; */
    bottom: 0px;
    z-index: 5; /* mainPage.css:video-box z-index:3 */
  }