.header {
  display: flex;
  height: 3vh;
  padding: 0.8em 1em;
  background: black;
  color: white;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  z-index: 10;
}

.input {
  flex-basis: 80%;
  font-size: 1.2rem;
  outline: 0;
  z-index: 10;
}

.button {
  background-color: darkgrey;
  outline: 0;
  z-index: 10;
}

.buttonImg {
  height: 70%;
  padding: 0.5em 0.2em;
  width: 1vw;
  z-index: 10;
}

.closeButton {
  position: fixed;
  right: 13vw;
}
