.app {
  position: fixed;
  width: 85vw;
  height: 78vh;
  bottom: 0px;
  background-color: whitesmoke;
  z-index: 10;
  overflow-y: scroll;
}

.content {
  display: flex;
  z-index: -5;
  height: 100vh;
}

.detail {
  flex: 1 1 70%;
  z-index: 10;
}

.list {
  flex: 1 1 30%;
  z-index: 10;
}

@media screen and (max-width: 48rem) {
  .content {
    flex-direction: column;
    z-index: 10;
  }
}
